# VITE_API_URL is intentionally omitted to use relative proxy paths
# VITE_API_URL=
VITE_PUBLIC_APP_ORIGIN=http://your-org-host:11000

# authNexus Configuration
# ----------------------------------------------------------------------
VITE_AUTH_AUTHORITY=https://auth.rokkalabs.com
VITE_CLIENT_ID=my-client-id
VITE_ORG_ID=my-org-id
VITE_PROJECT_ID=my-project-id
VITE_CALLBACK_PATH=/callback
VITE_LOGOUT_PATH=/login
VITE_PROJECT_NAME="AMS (Asset Management System)"

# Grafana telemetry true/false
VITE_OTEL_GRAFANA_ENABLED=true 
VITE_OTEL_EXPORTER_ENDPOINT=http://your-org-host:11400/v1/traces
VITE_GRAFANA_DASHBOARD_URL_FOR_ITOPS=http://your-org-host:11200
