# Project-specific config

GRAFANA_DASHBOARD_ADMIN_USERNAME=grafana-dashboard-user-name
GRAFANA_DASHBOARD_ADMIN_PASSWORD=grafana-dashboard-password

# GRAFANA_ALERT_SMTP_FROM=alerts@example.com
# GRAFANA_ALERT_SLACK_WEBHOOK=
GRAFANA_ALERT_SMTP_HOST_AND_PORT=
GRAFANA_ALERT_SMTP_SENDER_USERNAME=
GRAFANA_ALERT_SMTP_SENDER_APP_PASSWORD=
GRAFANA_ALERT_NOTIFICATION_FROM_EMAIL_ADDRESS=alerts@example.com
