fastapi[standard]
supabase
PyJWT[crypto]>=2.8.0,<3.0.0
pydantic
python-dotenv
qrcode[pil]
openpyxl
httpx
reportlab
opentelemetry-distro
opentelemetry-exporter-otlp
prometheus-fastapi-instrumentator
prometheus-client
