WARNING:  database "assetmanager_db" has no actual collation version, but a version was recorded
--
-- PostgreSQL database dump
--

\restrict KEScIDNKuszxJN2IQjsO1oPxWO9fehksjGo0G74znQFMaIhPdtEnGGQMENAWQbY

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA public;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: admin_audit_action; Type: TYPE; Schema: public; Owner: assetmanager_user
--

CREATE TYPE public.admin_audit_action AS ENUM (
    'created',
    'updated',
    'deleted',
    'restored',
    'bulk_imported'
);


ALTER TYPE public.admin_audit_action OWNER TO assetmanager_user;

--
-- Name: asset_event_type; Type: TYPE; Schema: public; Owner: assetmanager_user
--

CREATE TYPE public.asset_event_type AS ENUM (
    'asset_created',
    'asset_updated',
    'asset_assigned',
    'asset_returned',
    'asset_deleted',
    'asset_restored',
    'qr_scanned',
    'lifecycle_changed',
    'bulk_imported'
);


ALTER TYPE public.asset_event_type OWNER TO assetmanager_user;

--
-- Name: asset_status; Type: TYPE; Schema: public; Owner: assetmanager_user
--

CREATE TYPE public.asset_status AS ENUM (
    'in_stock',
    'assigned',
    'in_repair',
    'retired',
    'lost',
    'disposed'
);


ALTER TYPE public.asset_status OWNER TO assetmanager_user;

--
-- Name: custom_field_data_type; Type: TYPE; Schema: public; Owner: assetmanager_user
--

CREATE TYPE public.custom_field_data_type AS ENUM (
    'text',
    'number',
    'date',
    'boolean',
    'select'
);


ALTER TYPE public.custom_field_data_type OWNER TO assetmanager_user;

--
-- Name: role_audit_action; Type: TYPE; Schema: public; Owner: assetmanager_user
--

CREATE TYPE public.role_audit_action AS ENUM (
    'promoted',
    'demoted'
);


ALTER TYPE public.role_audit_action OWNER TO assetmanager_user;

--
-- Name: fn_next_asset_tag(); Type: FUNCTION; Schema: public; Owner: assetmanager_user
--

CREATE FUNCTION public.fn_next_asset_tag() RETURNS text
    LANGUAGE plpgsql STABLE
    AS $_$
DECLARE
  last_tag text;
  part text;
  n bigint;
BEGIN
  SELECT a.asset_tag INTO last_tag
  FROM public.assets a
  WHERE a.asset_tag ~ '^AST-[0-9]+$'
  ORDER BY a.asset_tag DESC
  LIMIT 1;

  IF last_tag IS NULL THEN
    RETURN 'AST-00001';
  END IF;

  part := split_part(last_tag, '-', 2);
  IF part = '' OR part !~ '^[0-9]+$' THEN
    RETURN 'AST-00001';
  END IF;

  n := part::bigint + 1;
  RETURN 'AST-' || lpad(n::text, 5, '0');
END;
$_$;


ALTER FUNCTION public.fn_next_asset_tag() OWNER TO assetmanager_user;

--
-- Name: FUNCTION fn_next_asset_tag(); Type: COMMENT; Schema: public; Owner: assetmanager_user
--

COMMENT ON FUNCTION public.fn_next_asset_tag() IS 'Next AST-##### tag; same rules as App AssetRepository.get_next_asset_tag (non-deleted rows, ^AST-[0-9]+$).';


--
-- Name: fn_set_updated_at(); Type: FUNCTION; Schema: public; Owner: assetmanager_user
--

CREATE FUNCTION public.fn_set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = now();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.fn_set_updated_at() OWNER TO assetmanager_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_audit_log; Type: TABLE; Schema: public; Owner: assetmanager_user
--

CREATE TABLE public.admin_audit_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    admin_id uuid,
    target_user_id uuid,
    action public.admin_audit_action,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.admin_audit_log OWNER TO assetmanager_user;

--
-- Name: asset_assignments; Type: TABLE; Schema: public; Owner: assetmanager_user
--

CREATE TABLE public.asset_assignments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    asset_id uuid NOT NULL,
    employee_id uuid NOT NULL,
    assigned_at timestamp with time zone DEFAULT now(),
    returned_at timestamp with time zone,
    source text DEFAULT 'runtime'::text,
    notes text,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT asset_assignments_source_check CHECK ((source = ANY (ARRAY['import'::text, 'runtime'::text, 'bulk'::text]))),
    CONSTRAINT ck_assignment_dates CHECK (((returned_at IS NULL) OR (returned_at >= assigned_at)))
);


ALTER TABLE public.asset_assignments OWNER TO assetmanager_user;

--
-- Name: asset_categories; Type: TABLE; Schema: public; Owner: assetmanager_user
--

CREATE TABLE public.asset_categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    slug text NOT NULL,
    name text NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.asset_categories OWNER TO assetmanager_user;

--
-- Name: asset_components; Type: TABLE; Schema: public; Owner: assetmanager_user
--

CREATE TABLE public.asset_components (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    asset_id uuid NOT NULL,
    component_type text NOT NULL,
    manufacturer_id uuid,
    model text,
    serial_number text,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.asset_components OWNER TO assetmanager_user;

--
-- Name: asset_events; Type: TABLE; Schema: public; Owner: assetmanager_user
--

CREATE TABLE public.asset_events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    asset_id uuid NOT NULL,
    event_type public.asset_event_type NOT NULL,
    actor_id text,
    payload jsonb DEFAULT '{}'::jsonb,
    ip_address text,
    user_agent text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.asset_events OWNER TO assetmanager_user;

--
-- Name: asset_logs; Type: TABLE; Schema: public; Owner: assetmanager_user
--

CREATE TABLE public.asset_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    asset_id uuid NOT NULL,
    actor_employee_id uuid,
    note text,
    qr_code text,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.asset_logs OWNER TO assetmanager_user;

--
-- Name: asset_tag_seq; Type: SEQUENCE; Schema: public; Owner: assetmanager_user
--

CREATE SEQUENCE public.asset_tag_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.asset_tag_seq OWNER TO assetmanager_user;

--
-- Name: assets; Type: TABLE; Schema: public; Owner: assetmanager_user
--

CREATE TABLE public.assets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    asset_tag text NOT NULL,
    category_id uuid NOT NULL,
    manufacturer_id uuid,
    model text,
    serial_number text NOT NULL,
    location_id uuid,
    custom_fields jsonb DEFAULT '{}'::jsonb,
    status public.asset_status DEFAULT 'in_stock'::public.asset_status,
    purchase_date date,
    warranty_expiry date,
    metadata jsonb DEFAULT '{}'::jsonb,
    is_deleted boolean DEFAULT false,
    deleted_at timestamp with time zone,
    deleted_by_employee_id uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    created_by uuid,
    updated_by uuid,
    qr_code text,
    created_by_employee_id uuid
);


ALTER TABLE public.assets OWNER TO assetmanager_user;

--
-- Name: COLUMN assets.qr_code; Type: COMMENT; Schema: public; Owner: assetmanager_user
--

COMMENT ON COLUMN public.assets.qr_code IS 'Optional stored QR payload / reference; app may pass null on create.';


--
-- Name: COLUMN assets.created_by_employee_id; Type: COMMENT; Schema: public; Owner: assetmanager_user
--

COMMENT ON COLUMN public.assets.created_by_employee_id IS 'Employee who created the row; maps to employees.id.';


--
-- Name: custom_field_definitions; Type: TABLE; Schema: public; Owner: assetmanager_user
--

CREATE TABLE public.custom_field_definitions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    category_id uuid NOT NULL,
    field_key text NOT NULL,
    label text NOT NULL,
    data_type public.custom_field_data_type DEFAULT 'text'::public.custom_field_data_type,
    is_required boolean DEFAULT false,
    options jsonb,
    sort_order integer DEFAULT 0,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.custom_field_definitions OWNER TO assetmanager_user;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: assetmanager_user
--

CREATE TABLE public.departments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.departments OWNER TO assetmanager_user;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: assetmanager_user
--

CREATE TABLE public.employees (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    employee_id text NOT NULL,
    name text NOT NULL,
    email public.citext,
    department_id uuid,
    auth_user_id text,
    role text DEFAULT 'employee'::text,
    is_active boolean DEFAULT true,
    erp_active boolean DEFAULT true,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    is_deleted boolean DEFAULT false NOT NULL,
    CONSTRAINT employees_role_check CHECK ((role = ANY (ARRAY['employee'::text, 'admin'::text, 'it_ops'::text])))
);


ALTER TABLE public.employees OWNER TO assetmanager_user;

--
-- Name: locations; Type: TABLE; Schema: public; Owner: assetmanager_user
--

CREATE TABLE public.locations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    address text,
    is_active boolean DEFAULT true,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.locations OWNER TO assetmanager_user;

--
-- Name: manufacturers; Type: TABLE; Schema: public; Owner: assetmanager_user
--

CREATE TABLE public.manufacturers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    website text,
    is_active boolean DEFAULT true,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.manufacturers OWNER TO assetmanager_user;

--
-- Name: recycle_bin_entries; Type: TABLE; Schema: public; Owner: assetmanager_user
--

CREATE TABLE public.recycle_bin_entries (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    entity_type text NOT NULL,
    entity_id uuid NOT NULL,
    label text NOT NULL,
    payload jsonb NOT NULL,
    deleted_at timestamp with time zone DEFAULT now(),
    deleted_by_employee_id uuid,
    restored_at timestamp with time zone,
    restored_by_employee_id uuid,
    CONSTRAINT recycle_bin_entries_entity_type_check CHECK ((entity_type = ANY (ARRAY['asset'::text, 'employee'::text])))
);


ALTER TABLE public.recycle_bin_entries OWNER TO assetmanager_user;

--
-- Name: role_audit_log; Type: TABLE; Schema: public; Owner: assetmanager_user
--

CREATE TABLE public.role_audit_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    actor_employee_id uuid,
    target_employee_id uuid,
    old_role text,
    new_role text,
    action public.role_audit_action,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.role_audit_log OWNER TO assetmanager_user;

--
-- Name: v_asset_inventory; Type: VIEW; Schema: public; Owner: assetmanager_user
--

CREATE VIEW public.v_asset_inventory AS
 SELECT a.id,
    a.asset_tag,
    a.serial_number,
    a.model,
    a.status,
    a.purchase_date,
    a.warranty_expiry,
    a.custom_fields,
    a.metadata,
    a.is_deleted,
    a.created_at,
    a.updated_at,
    a.created_by,
    a.updated_by,
    c.id AS category_id,
    c.slug AS category_slug,
    c.name AS category_name,
    m.id AS manufacturer_id,
    m.name AS manufacturer_name,
    l.id AS location_id,
    l.code AS location_code,
    l.name AS location_name,
    aa.id AS assignment_id,
    aa.assigned_at,
    e.id AS current_employee_id,
    e.employee_id AS current_employee_business_id,
    e.name AS current_employee_name,
    e.email AS current_employee_email,
    e.is_active AS current_employee_is_active,
    e.erp_active AS current_employee_erp_active,
    d.name AS current_employee_department
   FROM ((((((public.assets a
     LEFT JOIN public.asset_categories c ON ((a.category_id = c.id)))
     LEFT JOIN public.manufacturers m ON ((a.manufacturer_id = m.id)))
     LEFT JOIN public.locations l ON ((a.location_id = l.id)))
     LEFT JOIN public.asset_assignments aa ON (((a.id = aa.asset_id) AND (aa.returned_at IS NULL))))
     LEFT JOIN public.employees e ON ((aa.employee_id = e.id)))
     LEFT JOIN public.departments d ON ((e.department_id = d.id)))
  WHERE (a.is_deleted = false);


ALTER TABLE public.v_asset_inventory OWNER TO assetmanager_user;

--
-- Name: v_employee_directory; Type: VIEW; Schema: public; Owner: assetmanager_user
--

CREATE VIEW public.v_employee_directory AS
 SELECT e.id,
    e.employee_id AS employee_code,
    e.name,
    e.email,
    e.is_active,
    e.erp_active,
    e.role,
    e.auth_user_id,
    d.name AS department
   FROM (public.employees e
     LEFT JOIN public.departments d ON ((e.department_id = d.id)))
  WHERE (NOT (EXISTS ( SELECT 1
           FROM public.recycle_bin_entries rbe
          WHERE ((rbe.entity_type = 'employee'::text) AND (rbe.entity_id = e.id) AND (rbe.restored_at IS NULL)))));


ALTER TABLE public.v_employee_directory OWNER TO assetmanager_user;

--
-- Name: v_recycle_bin; Type: VIEW; Schema: public; Owner: assetmanager_user
--

CREATE VIEW public.v_recycle_bin AS
 SELECT recycle_bin_entries.id,
    recycle_bin_entries.entity_type,
    recycle_bin_entries.entity_id,
    recycle_bin_entries.label,
    recycle_bin_entries.payload,
    recycle_bin_entries.deleted_at,
    recycle_bin_entries.deleted_by_employee_id,
    recycle_bin_entries.restored_at,
    recycle_bin_entries.restored_by_employee_id
   FROM public.recycle_bin_entries;


ALTER TABLE public.v_recycle_bin OWNER TO assetmanager_user;

--
-- Name: v_warranty_notifications; Type: VIEW; Schema: public; Owner: assetmanager_user
--

CREATE VIEW public.v_warranty_notifications AS
 SELECT (gen_random_uuid())::text AS notification_id,
    (a.id)::text AS asset_id,
    a.asset_tag,
    a.model,
    c.name AS category_name,
    (aa.employee_id)::text AS current_employee_id,
    e.name AS current_employee_name,
    (a.warranty_expiry)::text AS warranty_expiry,
    (a.warranty_expiry - CURRENT_DATE) AS days_remaining,
        CASE
            WHEN (a.warranty_expiry < CURRENT_DATE) THEN 'expired'::text
            WHEN (a.warranty_expiry <= (CURRENT_DATE + 30)) THEN 'due_soon'::text
            ELSE NULL::text
        END AS severity,
        CASE
            WHEN (a.warranty_expiry < CURRENT_DATE) THEN ('Warranty expired on '::text || (a.warranty_expiry)::text)
            ELSE (('Warranty expires in '::text || ((a.warranty_expiry - CURRENT_DATE))::text) || ' days'::text)
        END AS message
   FROM (((public.assets a
     JOIN public.asset_categories c ON ((a.category_id = c.id)))
     LEFT JOIN public.asset_assignments aa ON (((aa.asset_id = a.id) AND (aa.returned_at IS NULL))))
     LEFT JOIN public.employees e ON ((e.id = aa.employee_id)))
  WHERE ((a.warranty_expiry IS NOT NULL) AND (COALESCE(a.is_deleted, false) = false));


ALTER TABLE public.v_warranty_notifications OWNER TO assetmanager_user;

--
-- Data for Name: admin_audit_log; Type: TABLE DATA; Schema: public; Owner: assetmanager_user
--

COPY public.admin_audit_log (id, admin_id, target_user_id, action, metadata, created_at) FROM stdin;
\.


--
-- Data for Name: asset_assignments; Type: TABLE DATA; Schema: public; Owner: assetmanager_user
--



--
-- Data for Name: asset_categories; Type: TABLE DATA; Schema: public; Owner: assetmanager_user
--



--
-- Data for Name: asset_components; Type: TABLE DATA; Schema: public; Owner: assetmanager_user
--

COPY public.asset_components (id, asset_id, component_type, manufacturer_id, model, serial_number, metadata, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: asset_events; Type: TABLE DATA; Schema: public; Owner: assetmanager_user
--



--
-- Data for Name: asset_logs; Type: TABLE DATA; Schema: public; Owner: assetmanager_user
--



--
-- Data for Name: assets; Type: TABLE DATA; Schema: public; Owner: assetmanager_user
--



--
-- Data for Name: custom_field_definitions; Type: TABLE DATA; Schema: public; Owner: assetmanager_user
--

COPY public.custom_field_definitions (id, category_id, field_key, label, data_type, is_required, options, sort_order, metadata, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: assetmanager_user
--



--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: assetmanager_user
--



--
-- Data for Name: locations; Type: TABLE DATA; Schema: public; Owner: assetmanager_user
--



--
-- Data for Name: manufacturers; Type: TABLE DATA; Schema: public; Owner: assetmanager_user
--



--
-- Data for Name: recycle_bin_entries; Type: TABLE DATA; Schema: public; Owner: assetmanager_user
--



--
-- Data for Name: role_audit_log; Type: TABLE DATA; Schema: public; Owner: assetmanager_user
--

COPY public.role_audit_log (id, actor_employee_id, target_employee_id, old_role, new_role, action, metadata, created_at) FROM stdin;
\.


--
-- Name: asset_tag_seq; Type: SEQUENCE SET; Schema: public; Owner: assetmanager_user
--

SELECT pg_catalog.setval('public.asset_tag_seq', 1, false);


--
-- Name: admin_audit_log admin_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.admin_audit_log
    ADD CONSTRAINT admin_audit_log_pkey PRIMARY KEY (id);


--
-- Name: asset_assignments asset_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.asset_assignments
    ADD CONSTRAINT asset_assignments_pkey PRIMARY KEY (id);


--
-- Name: asset_categories asset_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.asset_categories
    ADD CONSTRAINT asset_categories_pkey PRIMARY KEY (id);


--
-- Name: asset_categories asset_categories_slug_key; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.asset_categories
    ADD CONSTRAINT asset_categories_slug_key UNIQUE (slug);


--
-- Name: asset_components asset_components_pkey; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.asset_components
    ADD CONSTRAINT asset_components_pkey PRIMARY KEY (id);


--
-- Name: asset_components asset_components_serial_number_key; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.asset_components
    ADD CONSTRAINT asset_components_serial_number_key UNIQUE (serial_number);


--
-- Name: asset_events asset_events_pkey; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.asset_events
    ADD CONSTRAINT asset_events_pkey PRIMARY KEY (id);


--
-- Name: asset_logs asset_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.asset_logs
    ADD CONSTRAINT asset_logs_pkey PRIMARY KEY (id);


--
-- Name: assets assets_asset_tag_key; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_asset_tag_key UNIQUE (asset_tag);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (id);


--
-- Name: assets assets_serial_number_key; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_serial_number_key UNIQUE (serial_number);


--
-- Name: custom_field_definitions custom_field_definitions_category_id_field_key_key; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.custom_field_definitions
    ADD CONSTRAINT custom_field_definitions_category_id_field_key_key UNIQUE (category_id, field_key);


--
-- Name: custom_field_definitions custom_field_definitions_pkey; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.custom_field_definitions
    ADD CONSTRAINT custom_field_definitions_pkey PRIMARY KEY (id);


--
-- Name: departments departments_name_key; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_name_key UNIQUE (name);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: employees employees_auth_user_id_key; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_auth_user_id_key UNIQUE (auth_user_id);


--
-- Name: employees employees_email_key; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key UNIQUE (email);


--
-- Name: employees employees_employee_code_key; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_employee_code_key UNIQUE (employee_id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: locations locations_code_key; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_code_key UNIQUE (code);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: manufacturers manufacturers_name_key; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.manufacturers
    ADD CONSTRAINT manufacturers_name_key UNIQUE (name);


--
-- Name: manufacturers manufacturers_pkey; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.manufacturers
    ADD CONSTRAINT manufacturers_pkey PRIMARY KEY (id);


--
-- Name: recycle_bin_entries recycle_bin_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.recycle_bin_entries
    ADD CONSTRAINT recycle_bin_entries_pkey PRIMARY KEY (id);


--
-- Name: role_audit_log role_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.role_audit_log
    ADD CONSTRAINT role_audit_log_pkey PRIMARY KEY (id);


--
-- Name: idx_asset_events_actor; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_asset_events_actor ON public.asset_events USING btree (actor_id);


--
-- Name: idx_asset_events_asset; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_asset_events_asset ON public.asset_events USING btree (asset_id);


--
-- Name: idx_asset_events_type; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_asset_events_type ON public.asset_events USING btree (event_type);


--
-- Name: idx_asset_logs_actor; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_asset_logs_actor ON public.asset_logs USING btree (actor_employee_id);


--
-- Name: idx_asset_logs_asset; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_asset_logs_asset ON public.asset_logs USING btree (asset_id);


--
-- Name: idx_asset_logs_created; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_asset_logs_created ON public.asset_logs USING btree (created_at DESC);


--
-- Name: idx_assets_category; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_assets_category ON public.assets USING btree (category_id) WHERE (is_deleted = false);


--
-- Name: idx_assets_is_deleted; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_assets_is_deleted ON public.assets USING btree (is_deleted);


--
-- Name: idx_assets_location; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_assets_location ON public.assets USING btree (location_id) WHERE (is_deleted = false);


--
-- Name: idx_assets_status; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_assets_status ON public.assets USING btree (status) WHERE (is_deleted = false);


--
-- Name: idx_assets_updated_at; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_assets_updated_at ON public.assets USING btree (updated_at DESC) WHERE (is_deleted = false);


--
-- Name: idx_assignments_asset; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_assignments_asset ON public.asset_assignments USING btree (asset_id);


--
-- Name: idx_assignments_dates; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_assignments_dates ON public.asset_assignments USING btree (assigned_at DESC);


--
-- Name: idx_assignments_employee; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_assignments_employee ON public.asset_assignments USING btree (employee_id);


--
-- Name: idx_assignments_open; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_assignments_open ON public.asset_assignments USING btree (asset_id) WHERE (returned_at IS NULL);


--
-- Name: idx_employees_auth_user; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_employees_auth_user ON public.employees USING btree (auth_user_id);


--
-- Name: idx_employees_department; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_employees_department ON public.employees USING btree (department_id);


--
-- Name: idx_employees_email; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_employees_email ON public.employees USING btree (email);


--
-- Name: idx_employees_is_active; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_employees_is_active ON public.employees USING btree (is_active);


--
-- Name: idx_employees_role; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_employees_role ON public.employees USING btree (role);


--
-- Name: idx_recycle_bin_entity; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_recycle_bin_entity ON public.recycle_bin_entries USING btree (entity_type, entity_id);


--
-- Name: idx_recycle_bin_open; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE INDEX idx_recycle_bin_open ON public.recycle_bin_entries USING btree (entity_id) WHERE (restored_at IS NULL);


--
-- Name: ux_asset_one_open_assignment; Type: INDEX; Schema: public; Owner: assetmanager_user
--

CREATE UNIQUE INDEX ux_asset_one_open_assignment ON public.asset_assignments USING btree (asset_id) WHERE (returned_at IS NULL);


--
-- Name: assets trg_assets_updated_at; Type: TRIGGER; Schema: public; Owner: assetmanager_user
--

CREATE TRIGGER trg_assets_updated_at BEFORE UPDATE ON public.assets FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: asset_assignments trg_assignments_updated_at; Type: TRIGGER; Schema: public; Owner: assetmanager_user
--

CREATE TRIGGER trg_assignments_updated_at BEFORE UPDATE ON public.asset_assignments FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: asset_categories trg_categories_updated_at; Type: TRIGGER; Schema: public; Owner: assetmanager_user
--

CREATE TRIGGER trg_categories_updated_at BEFORE UPDATE ON public.asset_categories FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: custom_field_definitions trg_custom_fields_updated_at; Type: TRIGGER; Schema: public; Owner: assetmanager_user
--

CREATE TRIGGER trg_custom_fields_updated_at BEFORE UPDATE ON public.custom_field_definitions FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: departments trg_departments_updated_at; Type: TRIGGER; Schema: public; Owner: assetmanager_user
--

CREATE TRIGGER trg_departments_updated_at BEFORE UPDATE ON public.departments FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: employees trg_employees_updated_at; Type: TRIGGER; Schema: public; Owner: assetmanager_user
--

CREATE TRIGGER trg_employees_updated_at BEFORE UPDATE ON public.employees FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: locations trg_locations_updated_at; Type: TRIGGER; Schema: public; Owner: assetmanager_user
--

CREATE TRIGGER trg_locations_updated_at BEFORE UPDATE ON public.locations FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: manufacturers trg_manufacturers_updated_at; Type: TRIGGER; Schema: public; Owner: assetmanager_user
--

CREATE TRIGGER trg_manufacturers_updated_at BEFORE UPDATE ON public.manufacturers FOR EACH ROW EXECUTE FUNCTION public.fn_set_updated_at();


--
-- Name: admin_audit_log admin_audit_log_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.admin_audit_log
    ADD CONSTRAINT admin_audit_log_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.employees(id);


--
-- Name: admin_audit_log admin_audit_log_target_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.admin_audit_log
    ADD CONSTRAINT admin_audit_log_target_user_id_fkey FOREIGN KEY (target_user_id) REFERENCES public.employees(id);


--
-- Name: asset_assignments asset_assignments_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.asset_assignments
    ADD CONSTRAINT asset_assignments_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id) ON DELETE CASCADE;


--
-- Name: asset_assignments asset_assignments_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.asset_assignments
    ADD CONSTRAINT asset_assignments_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE RESTRICT;


--
-- Name: asset_components asset_components_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.asset_components
    ADD CONSTRAINT asset_components_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id) ON DELETE CASCADE;


--
-- Name: asset_components asset_components_manufacturer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.asset_components
    ADD CONSTRAINT asset_components_manufacturer_id_fkey FOREIGN KEY (manufacturer_id) REFERENCES public.manufacturers(id);


--
-- Name: asset_events asset_events_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.asset_events
    ADD CONSTRAINT asset_events_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id) ON DELETE CASCADE;


--
-- Name: asset_logs asset_logs_actor_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.asset_logs
    ADD CONSTRAINT asset_logs_actor_employee_id_fkey FOREIGN KEY (actor_employee_id) REFERENCES public.employees(id);


--
-- Name: asset_logs asset_logs_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.asset_logs
    ADD CONSTRAINT asset_logs_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id) ON DELETE CASCADE;


--
-- Name: assets assets_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.asset_categories(id);


--
-- Name: assets assets_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.employees(id);


--
-- Name: assets assets_deleted_by_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_deleted_by_employee_id_fkey FOREIGN KEY (deleted_by_employee_id) REFERENCES public.employees(id);


--
-- Name: assets assets_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id);


--
-- Name: assets assets_manufacturer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_manufacturer_id_fkey FOREIGN KEY (manufacturer_id) REFERENCES public.manufacturers(id);


--
-- Name: assets assets_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.employees(id);


--
-- Name: custom_field_definitions custom_field_definitions_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.custom_field_definitions
    ADD CONSTRAINT custom_field_definitions_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.asset_categories(id) ON DELETE CASCADE;


--
-- Name: employees employees_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: recycle_bin_entries recycle_bin_entries_deleted_by_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.recycle_bin_entries
    ADD CONSTRAINT recycle_bin_entries_deleted_by_employee_id_fkey FOREIGN KEY (deleted_by_employee_id) REFERENCES public.employees(id);


--
-- Name: recycle_bin_entries recycle_bin_entries_restored_by_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.recycle_bin_entries
    ADD CONSTRAINT recycle_bin_entries_restored_by_employee_id_fkey FOREIGN KEY (restored_by_employee_id) REFERENCES public.employees(id);


--
-- Name: role_audit_log role_audit_log_actor_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.role_audit_log
    ADD CONSTRAINT role_audit_log_actor_employee_id_fkey FOREIGN KEY (actor_employee_id) REFERENCES public.employees(id);


--
-- Name: role_audit_log role_audit_log_target_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: assetmanager_user
--

ALTER TABLE ONLY public.role_audit_log
    ADD CONSTRAINT role_audit_log_target_employee_id_fkey FOREIGN KEY (target_employee_id) REFERENCES public.employees(id);


--
-- PostgreSQL database dump complete
--

\unrestrict KEScIDNKuszxJN2IQjsO1oPxWO9fehksjGo0G74znQFMaIhPdtEnGGQMENAWQbY

